/* Red borders on visible elements - handy for debugging */
/** { border: 1px solid red; }*/

:root {
    --bg-color: #28293D;
    --text-color: #FFD700;
    --bg-image: url("coffee_2.jpg");
    --SHORTCUT_TIMEOUT: 1.5s;
}
body {
    padding: 0;
    margin: 0;

    background: var(--bg-image) no-repeat center fixed;
    background-color: var(--bg-color);
    background-size: cover;
    color: var(--text-color);

    font-family: 'Raleway', sans-serif;
    font-size: 22px;

    user-select: none;
    animation: fadein 1s;
}


#logo {
    padding-top: 15vh;
    text-align: center;
}

#logo h1 {
    font-weight: 200;
    font-size: 4rem;
    margin-bottom: 0;
}
#logo h2 {
    font-weight: 200;
    font-size: 2rem;
    margin-top: 0;
    opacity: 0.5;
}

#searchbar {
        padding-top: 5vh;
		text-align: center;
		margin-top: 0;
}

#content {
    text-align: center;
}

#credits {
    /* Uncomment to hide credits from your local copy */
    /*display: none;*/
    position: absolute;
    font-size: 1rem;
    opacity: 0.5;
    bottom: 1rem;
    left: 1rem;
}

.group {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 20%;
    padding: 1% 3%;
}
.group h1 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;
    border-bottom: 2px solid var(--text-color);
}
.group p {
    margin-bottom: 0;
    padding: 0.3rem 0;
}
.group p + p {
    margin: 0;
}

.shortcut {
    float: right;
    opacity: 0;
    animation: pulse var(--SHORTCUT_TIMEOUT);
}

a, a:hover {
    transition: all 0.4s ease;
}
a {
    padding: 0.3rem 0;
    color: var(--text-color);
    text-decoration: none;

    opacity: 0.5;
    padding-left: 0;
}
.group a:hover {
    opacity: 1;
    padding-left: 0.5rem;
}
#credits a:hover {
    opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 0; }
    20% { opacity: 0.3; }
    80% { opacity: 0.3; }
    100%   { opacity: 0; }
}
